[Bb]in/
[Oo]bj/
[Ll]ib/
[Aa]sm/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

#---binaries---
*.dll
*.exe
*.pdb

#---tests---
[Tt]est[Rr]esult*/

#---logging---
[Ll]og/
[Bb]uild[Ll]og.*

#---git---
*.orig

#---Visual Studio---
.vs/
/src/.vs/
*.cache
*.vs10x
*.vsmdi
*.DotSettings.user
*.csproj.DotSettings
*.sln.DotSettings
*.csproj.old

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

#---Visual Studio Code---
.vscode/

#---ReSharper---
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

#---Nuget---
[Pp]ackages/
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
*.nupkg
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

#---Godot---
.godot/
.import/
export.cfg
export_presets.cfg
*.translation
.mono/
data_*/
mono_crash.*.json