[Bb]in/
[Ll]ib/

#---binaries---
*.dll
*.exe
*.pdb

#---tests---
[Tt]est[Rr]esult*/

#---logging---
[Ll]og/
[Bb]uild[Ll]og.*

#---git---
*.orig

#---Visual Studio---
[Oo]bj/
.vs/
.vscode/
/src/.vs/
*.cache
*.vs10x
*.vsmdi
*.user
*.DotSettings.user
*.suo
*.user
*.userprefs

#---ReSharper---
_ReSharper.*
*.[Rr]e[Ss]harper
*.ReSharper.user
*.resharper.user

#---Nuget---
[Pp]ackages/
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
*.nupkg
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

#---other---
sh.exe.stackdump
*.bak
