name: History Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Delete workflow logs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 30
          keep_minimum_runs: 6
