name: Documentation Lint

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'doc/**'
      - '**.md'
  pull_request:
    branches: [ main ]
    paths:
      - 'doc/**'
      - '**.md'

jobs:
  run-linters:
    name: Documentation check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.34.0
        with:
          config_path: .github/spellcheck.yml

      - name: Markdown lint
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
          config_file: ".github/markdownlint.yml"
