name: Release

env:
  sln-path: "./src/godot sharp some.sln"
  build-dir: "build"

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        dotnet-version: [ '2.0.x', '6.0.x', '7.0.x' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .Net ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: .Net Info
        run: dotnet --info

      - name: Restore
        run: dotnet restore "${{ env.sln-path }}"

      - name: Build release
        run: dotnet build "${{ env.sln-path }}" --no-restore -o "${{ env.build-dir }}"

      - name: Test
        run: dotnet test "${{ env.sln-path }}" --no-build --logger "trx;LogFileName=test-results.trx" || true

      - name: Upload artifact - binaries
        uses: actions/upload-artifact@v3
        with:
          name: binaries
          path: "${{ env.build-dir }}"
          retention-days: 90

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [ build ]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: binaries
          path: "${{ env.build-dir }}"

      - name: Zip binaries
        uses: vimtor/action-zip@v1
        with:
          files: "${{ env.build-dir }}"
          dest: binaries.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          prerelease: true
          draft: false
          generate_release_notes: true
          files: binaries.zip
          token: ${{ secrets.GITHUB_PACKAGE_PUSH_PAT }}

      - name: Remove old Releases
        uses: dev-drprasad/delete-older-releases@v0.3.2
        with:
          keep_latest: 8
          delete_tags: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
